.pokedexPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: calc(20vmin + 2em);

  .pp-title {
      margin: 1em 0;
  }
}
